#main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#main > div {
    width: 100%;
}

.footer-btn {
    text-align: center;
}

.rounded-lg {
    border-radius: 1rem;
}

.nav-pills .nav-link {
    color: #555;
}

.nav-pills .nav-link.active {
    color: #fff;
}

.card {
    border-radius: .5rem;
}

.mask-custom {
    background: rgba(24, 24, 16, .2);
    border-radius: 2em;
    backdrop-filter: blur(25px);
    border: 2px solid rgba(255, 255, 255, 0.05);
    background-clip: padding-box;
    box-shadow: 10px 10px 10px rgba(46, 54, 68, 0.03);
}

.btn-custom{
  background-color:#AFD2E9;
}

.btn.btn-custom:hover {
  background-color: #fff;
}

.mat-mdc-tab-group, .mat-mdc-tab-nav-bar {
  --mdc-tab-indicator-active-indicator-color: #AFD2E9;
  --mat-tab-header-active-label-text-color: #2d3042;
  --mat-tab-header-active-hover-label-text-color: #2d3042;
  --mat-tab-header-active-hover-indicator-color: #AFD2E9;
  --mat-tab-header-active-focus-label-text-color: #2d3042;
  --mat-tab-header-active-focus-indicator-color: #AFD2E9;
}
