#main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#main > div {
    width: 100%;
}

.footer-btn {
    text-align: center;
}

.rounded-lg {
    border-radius: 1rem;
}

.nav-pills .nav-link {
    color: #555;
}

.nav-pills .nav-link.active {
    color: #fff;
}

.card {
    border-radius: .5rem;
}

.mask-custom {
    background: rgba(24, 24, 16, .2);
    border-radius: 2em;
    backdrop-filter: blur(25px);
    border: 2px solid rgba(255, 255, 255, 0.05);
    background-clip: padding-box;
    box-shadow: 10px 10px 10px rgba(46, 54, 68, 0.03);
}

.btn-custom{
 background-color:#8f94fb;
 color: white; 
}

.btn-success{
background-color: white;
color: black;
border: 2px solid rgb(226, 224, 224);
}

.btn-danger{
  background-color: rgb(226, 224, 224);
  color: rgb(65, 65, 65);
  border: none;
  }

.btn-danger:active{
  background-color: rgb(226, 224, 224);
  border: none;
}

.btn-success:active{
  background-color: white;
  border: 2px solid rgb(226, 224, 224);
  color: black;
}

.btn.btn-custom:hover {
  background-color: #fff;
  color:#4e54c8 ;
}

.mat-mdc-tab-group, .mat-mdc-tab-nav-bar {
  --mdc-tab-indicator-active-indicator-color: #AFD2E9;
  --mat-tab-header-active-label-text-color: #26648E;
  --mat-tab-header-active-hover-label-text-color: #2d3042;
  --mat-tab-header-active-hover-indicator-color: #AFD2E9;
  --mat-tab-header-active-focus-label-text-color: #2d3042;
  --mat-tab-header-active-focus-indicator-color: #AFD2E9;
}

.input-button-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btn-toggle{
  width: 70px;
  display: block;
  margin: auto;
}



th, td {
  text-align: center;
  vertical-align: middle;
}

.note-img{
  height:20px;
}

.note-button{
  background-color: transparent;
  border: none;
}

.gradient {
  background: #4e54c8;
  background: linear-gradient(
    to right,
    #4e54c8,#8f94fb
  );
}