.btn-custom{
  background-color:#4F80E2;
  color: white; 
 }
 
 .btn.btn-custom:hover {
   background-color: #fff;
   color:#3E54D3 ;
 }
 
.card-footer{
    background-color: rgba(0, 0, 0, 0);
    border-top:none;
    
}

textarea{
  resize: both;
}
